<h1>Edit your post</h1>

<div class="form-group">
<%= form_for @post do |f| %>

	 <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>post
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control", rows: '4' %>
  </p>

  <p>
    

   <!--  <%= f.label :tag_list %><br>
    <%= f.text_field :tag_list, value: @post.tag_list.to_s, class: "form-control"%>
 -->


    
      <%= f.label :tag_list %>
      <%= label_tag(:tag_list, "Politics") %>
      <%= f.check_box :tag_list, { :multiple => true }, 'politics', nil %>
      <%= label_tag(:tag_list, "Science") %>
      <%= f.check_box :tag_list, { :multiple => true }, 'science', nil %>
      <%= label_tag(:tag_list, "Social") %>
      <%= f.check_box :tag_list, { :multiple => true }, 'social', nil %>
      <%= label_tag(:tag_list, "Sport") %>
      <%= f.check_box :tag_list, { :multiple => true }, 'sports', nil %>
      <%= label_tag(:tag_list, "Lorem") %>
      <%= f.check_box :tag_list, { :multiple => true }, 'lorem', nil %>
      <%= label_tag(:tag_list, "Ipsum") %>
      <%= f.check_box :tag_list, { :multiple => true }, 'ipsum', nil %>
      




  </p>
 
 <p>
 	<%= f.label :published %><br />
    <%= f.label :published, "Yes", :value => "true"  %>
    <%= f.radio_button :published, true %>
    <%= f.label :published, "No", :value => "false" %>
    <%= f.radio_button :published, false %>

 </p>
  <p>
    <%= f.submit 'Submit', :class => "btn btn-success form-control" %>
  </p>
<% end %>
</div>

<%= link_to 'Back', posts_path %>

