<div class ="wrapper" >

	<div class="tags-container">
		<% @tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag.name) %>
		<% end %>
	</div> 

	<div class="pagination" >
		<%= will_paginate @posts %>
	</div>

	<div class="posts-container">
	  	<% @posts.each do |post| %>
	  		<div class="posts">
			<!-- Body or content of post -->
			<span class="post-id">
			<%= link_to "##{post.id}"  , post_path(post) %>	
			</span>
			<span class="post-date text-muted">
			<%= time_ago_in_words(post.created_at) %> ago
			</span>
			<p calss="post-content">
				<%= simple_format(post.body) %>
			</p> 
				<%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
			</br>

			<%= link_to 'Show', post_path(post) %>
	     	<%= link_to 'Edit', edit_post_path(post) %>
	     	<%= link_to 'publish', publish_posts_path(post), :method => :put %>
			<hr>
			</br>
			</br>
			</div>
		<% end %>
	 </div>

	 <div class = "pagination" >
		<%= will_paginate @posts %>
	</div>
</div>



