<% javascript_include_tag("pagination.js") %>
<div class ="wrapper" >

	<div class="tags-container">
		<% @tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag.name), class: "btn btn-outline-primary" %>
		<% end %>
	</div> 

	<div class="pagination" >
		<%= will_paginate @posts %>
	</div>

	<div class="posts-container">
	  	<% @posts.each do |post| %>
	  		<div class="posts">
			<!-- Body or content of post -->
			<span class="post-id">
			<%= link_to "##{post.id}"  , post_path(post) %>	
			</span>
			<span class="post-date text-muted">
			<%= time_ago_in_words(post.created_at) %> ago
			</span>
			<p calss="post-content">
				<%= simple_format(post.body) %>
			</p> 
			<%= link_to 'Read more', post_path(post)%>

			<div class= "post-tags">
				<% post.tag_list.each do |tag| %>
					<span class="tags"><%= link_to tag, tag_path(tag), class: "btn btn-outline-primary btn-sm" %></span>
				<% end %>
				</div>
			</br>




			<div class="post-actions">
						
						
				<div class= "voting-div">
				<% if current_user.liked? post %>
				  
		     		<%= link_to '', upvote_post_path(post),method: :put, remote: true,
                        class: "fa fa-angle-up alert-warning upvote-btn-#{post.id}", id: post.id%>
				<% else %>
				  
		     		<%= link_to '', upvote_post_path(post),method: :put, remote: true,
                        
                        class: "fa fa-angle-up alert-info upvote-btn-#{post.id}", id: post.id  %>
				<% end %>
				<span class='likes-count-<%= post.id %>' id: post.id ><%= post.weighted_score %></span>


				<% if current_user.disliked? post %>
				  
		     		<%= link_to '', downvote_post_path(post), method: :put, remote: true,
                       
		     		class: "fa fa-angle-down alert-warning downvote-btn-#{post.id}" , id: post.id%>
				<% else %>
		     		<%= link_to '', downvote_post_path(post),method: :put, remote: true,
                        
                        class: "fa fa-angle-down alert-info downvote-btn-#{post.id}", id: post.id %>
				<% end %>
			</div>


				
		     	<%= link_to 'Edit', edit_post_path(post), class: "btn btn-info" %>
		     	

		     	<% if post.published == true %>
		     		<%= link_to 'unpublish', unpublish_posts_path(post), :method => :put, class: "btn btn-danger" %>
		     	<% else %>
		     		<%= link_to 'publish', publish_posts_path(post), :method => :put, class: "btn btn-success" %>
		     	<% end %>

		     	
	     	
	     		
	     	</div>
			
			</br>
			<hr>
			</br>
			</div>
		<% end %>
	 </div>

	 <div class = "pagination" >
		<%= will_paginate @posts %>
	</div>
</div>



