<% javascript_include_tag("pagination.js") %>
<div class ="wrapper" >

	<div class="tags-container">
		<% @tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag.name), class: "btn btn-outline-primary" %>
		<% end %>
	</div> 

	<div class="pagination" >
		<%= will_paginate @posts %>
	</div>

	<div class="posts-container">
	  	<% @posts.each do |post| %>
	  		<div class="posts">
			<!-- Body or content of post -->
			<span class="post-id">
			<%= link_to "##{post.id}"  , post_path(post) %>	
			</span>
			<span class="post-date text-muted">
			<%= time_ago_in_words(post.created_at) %> ago
			</span>
			<p calss="post-content">
				<%= simple_format(post.body) %>
			</p> 

			<div class= "post-tags">
				<% post.tag_list.each do |tag| %>
					<span class="tags"><%= link_to tag, tag_path(tag), class: "btn btn-outline-primary btn-sm" %></span>
				<% end %>
				</div>
			</br>




			<div class="post-actions">
				<% if current_user.liked? post %>
				  
		     		<%= link_to 'upvote', like_post_path(post), :method => :put, class: "alert alert-success" %>
				<% else %>
				  
		     		<%= link_to 'upvote', like_post_path(post), :method => :put, class: "alert alert-info" %>
				<% end %>
				<% if current_user.disliked? post %>
				  
		     		<%= link_to 'downvote', dislike_post_path(post), :method => :put, class: "alert alert-danger" %>
				<% else %>
		     		<%= link_to 'downvote', dislike_post_path(post), :method => :put, class: "alert alert-info" %>
				<% end %>



				<%= link_to 'Read', post_path(post), class: "btn btn-secondary" %>
		     	<%= link_to 'Edit', edit_post_path(post), class: "btn btn-info" %>
		     	

		     	<% if post.published == true %>
		     		<%= link_to 'unpublish', unpublish_posts_path(post), :method => :put, class: "btn btn-warning" %>
		     	<% else %>
		     		<%= link_to 'publish', publish_posts_path(post), :method => :put, class: "btn btn-success" %>
		     	<% end %>

		     	
	     	</div>

	     	<div>
	     		<%= post.weighted_score %>
	     	</div>
			
			</br>
			<hr>
			</br>
			</div>
		<% end %>
	 </div>

	 <div class = "pagination" >
		<%= will_paginate @posts %>
	</div>
</div>



