<!DOCTYPE html>
<html>
  <head>
    <title>Bayan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
      <nav class="navbar navbar-full navbar-light bg-faded">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"> Bayan</a>
            </div>
            <ul class="nav nav-pills ">
              <% if user_signed_in? %>
                <li class="dropdown auth">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b><%= current_user.email %></b></a>
                    <div class="dropdown-menu">
                        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>               
                        </div>
                </li>
              <% else %>

                 <li  class="active auth"><%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %></li>
                 <li  class=" active auth"><%= link_to "Login", new_user_session_path, :class => 'nav-link' %></li>
              <% end %>
              <li><%= link_to "Submit new post", new_post_path, :class => 'nav-link' %></li>
            </ul>  
            </div>

        </nav>
     

    <%= yield %>
  </body>
</html>
